.main{
    border-bottom-color: black;
    border: 2px solid black;
    width: 920px;
    margin: auto;
    overflow: hidden;
    height: 600px;
}
.leftside{
    width: 160px;
    float: left;
/*    padding-left: 8px;*/
/*    border: 2px solid black;*/
}
.rightside{
    width: 750px;
    float: right;
    border: 2px solid black;
    height: 600px;
}
.mainbutton{
/*
    border: 2px solid gray;
    height: 30px;
    text-align: center;
    margin-top: 2px;
*/
    margin: 2px;
}
.aboutus{
    border: 2px solid black;
}
.notice{
    float: right;
    width: 49.13%;
    height: 250px;
    border: 2px solid black;
}
.news{
    float: left;
    width: 49.6%;
    height: 250px;
    border: 2px solid black;
}
.timetable{
    border: 2px solid black;
    width: 100%;
    height: 230px;
    overflow: hidden;
}