body{
    padding-top: 20px;
}
.all-display{
    width: 100%;
    height: 100%;
    
/*    background-color: #333333;*/
}
.main{
    border-bottom-color: black;
    border: 2px solid #343a40;
    width: 1140px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}
.leftside{
    width: 240px;
    float: left;
    text-align: center;
/*    padding-left: 8px;*/
/*    border: 2px solid black;*/
    padding: 2px;
    overflow: hidden;
}
.rightside{
    
    width: 890px;
    float: right;
/*    border: 2px solid black;*/
    height: 750px;
    overflow: hidden;
}
.bottom{
    overflow: hidden;
    width: 100%;
}
.notice{
    float: right;
    width: 49.13%;
    height: 250px;
    border: 2px solid black;
}
.news{
    float: left;
    width: 49.6%;
    height: 250px;
    border: 2px solid black;
}
.timetable{
    border: 2px solid black;
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.maintitle{
    font-size: 25px;
    k
}
.font-italic{
    font-style:italic;
    font-size:5rem;
    margin: 0px;
    padding: 15px;
}
.content{
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
}
h1{
    font-family: arial;
}
.aboutus{
    background-color: #B5B5B5;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid white;
    border-radius: 10px;
} 
.aboutus h1{
    font-size: 60pt;
    font-weight: bold;
}
.aboutus hr{
    width: 95%;
    border: solid 1px white;
}
.news, .notice{
/*    border: 4px solid red;*/
    border-radius: 4px;
    margin: 2px;
/*    background-color: */
}
.display-1{
    font-size: 20px;
    font-weight: bold;
    background-color: #343a40;
    color: white;
}
.display-1 .code{
    color: #E6749D;
}